@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "playfair";
  src: url("/fonts/playfair/PlayfairDisplay.ttf") format("truetype");
}

@font-face {
  font-family: "playfair-italic";
  src: url("/fonts/playfair/PlayfairDisplay-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  src: url("/fonts/montserrat/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "dosis";
  src: url("/fonts/dosis/Dosis.ttf") format("truetype");
}